<div class="col-lg-3 col-md-6 top_col">

  <!-- Top Destination Item -->
  <div class="top_item">
    <a href="#">
      <div class="top_item_image">
        <img>
          <%= image_tag @tour_detail.build_place.picture_url.to_s %>
        </img
      </div>
      <div class="top_item_content">
        <div class="top_item_price"><%= @tour_detail.build_tour.price %></div>
        <div class="top_item_text"><%= @tour_detail.build_tour.name %></div>
      </div>
    </a>
  </div>
</div>
