<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
  aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content login-modal">
      <div class="modal-header login-modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center" id="loginModalLabel"> super travel</h4>
      </div>
      <div class="modal-body">
        <div role="tabpanel" class="login-tab">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="signin-taba"
              href="#user-login" aria-controls="user-login" role="tab"
              data-toggle="tab">sign in</a></li>
            <li role="presentation"><a id="signup-taba" href="#user-create"
              aria-controls="user-create"
              role="tab" data-toggle="tab"><%= t ".sign_up" %></a></li>
            <li role="presentation"><a id="forgetpass-taba"
              href="#user-forget-password" aria-controls="user-forget-password"
              role="tab" data-toggle="tab">forgot password</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active text-center" id="user-login">
            <div class="clearfix"></div>
            <%= render "users/login" %>
          </div>
          <div role="tabpanel" class="tab-pane text-center" id="user-create">
            <div class="clearfix"></div>
            <%= render "users/new" %>
          </div>
          <div role="tabpanel" class="tab-pane text-center" id="user-forget-password">
            <div class="clearfix"></div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
