<!-- Header -->

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header_container d-flex flex-row align-items-center justify-content-start">

          <!-- Logo -->
          <div class="logo_container">
            <div class="logo">
              <div>super tour</div>
              <div>viet nam travel</div>
              <div class="logo_image"><img src="assets/logo.png" alt=""></div>
            </div>
          </div>

          <!-- Main Navigation -->
          <nav class="main_nav ml-auto">
            <ul class="main_nav_list">
              <li class="main_nav_item active"><a href="#">Home</a></li>
              <li class="main_nav_item"><a href="about.html">About us</a></li>
              <li class="main_nav_item"><a href="offers.html">Offers</a></li>
              <li class="main_nav_item"><a href="news.html">News</a></li>
              <li class="main_nav_item"><a href="contact.html">Contact</a></li>
              <% if logged_in? %>
                <li class="main_nav_item"><%= link_to "Logout", logout_path, method: :delete %></li>
              <% else %>
                <li class="main_nav_item">
                  <%= link_to "Login", "#",
                  data: {toggle: "modal", target: "#loginModal"} %>
                </li>
              <% end %>
            </ul>
          </nav>

          <!-- Search -->
          <div class="search">
            <form action="#" class="search_form">
              <input type="search" name="search_input" class="search_input ctrl_class" required="required" placeholder="Keyword">
              <button type="submit" class="search_button ml-auto ctrl_class"><img src="assets/search.png" alt=""></button>
            </form>
          </div>

          <!-- Hamburger -->
          <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

        </div>
      </div>
    </div>
  </div>
</header>
<%= render "users/modal" %>
